/*
Theme Name: Human After All
Theme URI: https://github.com/Tarendai/tomjn.com
Author: Tom J Nowell
Author URI: http://tomjn.com/
Description: TomJN.com child theme
Version: 1.2
License: GNU General Public License
License URI: license.txt
Template: tomjn-theme

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/


h1, h2, h3, h4, h5, h6,
.site-navigation .menu a {
	font-weight:100;
}
.pullquote {
	font-weight: 100;
}

.site-title {
	font-weight:500;
}

p a,
p a:visited,
#social .social-comment-body p a,
#social .social-comment-body p a:visited,
.entry-meta a,
.entry-meta a:visited {
	color: #511;
	background: #fffafa;
}

.alignright,
.alignleft {
	margin-bottom: 1.5em;
}